body{
	text-align: center;
	font-family: arial;
}
#bloco-login{
	margin: 0 auto;
	background-color: #b31414;
    border-radius: 15px;
    width: 340px;
    padding: 98px;
}
#titulo{
	margin: 0 0 20px 0;
	letter-spacing: 15px;
	color: white;
}
.div-input{
	display: flex;
	margin-bottom: 30px;
}
.input-login{
    width: 200px;
    height: 50px;
	padding-left: 30px;
	border: none;
	border-radius: 0 10px 6px 0;
	font-size: 12px;
}
.icon-login{
	padding: 20px 25px 0 25px;
	border-radius: 3px 0 0 3px;
	color: white;
	background-color: #0a0000;
}
#btn-acessar{
	width: 220px;
    height: 30px;
	background-color:#0a0000 ;
	border-color: #0a0000;
	border-radius: 3px;
	border-style: solid;
	color: white;
	font-size: 11px;
}

#link-esqueceu{
	padding-top: 10px;
	font-size: 13px;
	color: white;
}
